@using AquaMonitor.Data.Models
@model AquaMonitor.Web.Models.ReadingChartModel
<div class="col-xl-3 mb-5 mb-xl-0">
    <!--<div class="card bg-gradient-default shadow">
    <div class="card-header bg-transparent"> -->
    <div class="card shadow card-reading">
        <div class="card-header @Model.Background bg-transparent">
            <div class="row align-items-center">
                <div class="col-5">
                    <h6 class="text-uppercase text-light ls-1 mb-1">@Model.ChartCaption</h6>
                    <h2 class="text-black mb-0">@(Model.AllReadings[Model.Type] != null ? Model.AllReadings[Model.Type].Value.ToString("0.00") + " " + Model.AllReadings[Model.Type].ScaleString.ToString() : "?")</h2>
                </div>
                <div class="col-5 col-buttons">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item" data-toggle="chart" data-target="#chart-reading-@Model.Type.ToString()" data-update='@Url.RouteUrl("defaultApi",new { controller= "reading", Type = Model.Type, startDate = DateTime.Now.AddDays(-365).ToString("MM-dd-yyyy HH:mm"), endDate = DateTime.Now.ToString("MM-dd-yyyy HH:mm")})' data-prefix="$" data-suffix="k">
                            <a href="#" class="nav-link nav-reading" data-toggle="tab">
                                <span class="d-none d-md-block">Year</span>
                                <span class="d-md-none">Yr</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="chart" data-target="#chart-reading-@Model.Type.ToString()" data-default data-update='@Url.RouteUrl("defaultApi",new { controller= "reading", Type = Model.Type, startDate = DateTime.Now.AddDays(-30).ToString("MM-dd-yyyy HH:mm"), endDate = DateTime.Now.ToString("MM-dd-yyyy HH:mm")})' data-prefix="$" data-suffix="k">
                            <a href="#" class="nav-link nav-reading active" data-toggle="tab">
                                <span class="d-none d-md-block">Month</span>
                                <span class="d-md-none">30d</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-1 text-right">
                    <a href="#!" data-toggle="modal" data-target="#modal-@Model.Type.ToString()" class="btn btn-sm btn-primary">Add</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Chart -->
            <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-reading-@Model.Type.ToString()" class="chart-canvas reading-chart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-@Model.Type.ToString()" tabindex="-1" role="dialog" aria-labelledby="modal-@Model.Type.ToString()" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="btn-wrapper text-center @Model.Background rounded-title">
                            <label>@Model.ChartCaption</label>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form id="form_@Model.Type.ToString()" role="form" action="@Url.RouteUrl("defaultApi", new {controller = "reading"})">
                            <input type="hidden" name="Type" value="@Model.Type.ToString()" />
                            <div class="alert alert-warning hidden" role="alert">
                                There was an error attempting to save this reading.
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-sound-wave"></i></span>
                                    </div>
                                    <input name="Value" class="form-control" placeholder="Value" type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input name="Taken" id="Taken_@Model.Type.ToString()" class="form-control takenpicker" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                                    </div>
                                    <textarea name="Note" class="form-control" arial-label="Notes" value="" type="text"></textarea>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" data-dismiss="modal" class="btn btn-light my-4">Cancel</button>
                                <button type="button" class="btn btn-primary my-4 savereading">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>