<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="Aquaponics Monitoring System running on Raspberry Pi">
<meta name="author" content="Hargrave">

<title>@ViewData["Title"] | Aquaponics Dashboard</title>
<!-- Favicon -->
<link href="~/img/brand/favicon.ico" rel="icon" type="image/x-icon">
<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="@(this.Context.Request.Scheme+"://"+this.Context.Request.Host+(this.Context.Request.Headers.ContainsKey("X-Forwarded-Port") ? ":" + this.Context.Request.Headers["X-Forwarded-Port"][0] : ""))" />
<meta property="og:url" content="@(this.Context.Request.Scheme+"://"+this.Context.Request.Host+(this.Context.Request.Headers.ContainsKey("X-Forwarded-Port") ? ":" + this.Context.Request.Headers["X-Forwarded-Port"][0] : ""))" />

<partial name="_ExternalScripts" />

<partial name="_ThemeStyles" />

<!-- Social tags -->
<meta name="keywords" content="aquaponics, hydroponics, plants, greenhouse, fish farm, fishfarm, aquarium, nitrobacter, nitrosomonas, agriculture, agri-aquaculture, aquaculture, aquatic, terrestrial, biological, organic">
<meta name="description" content="Aquaponics system monitor that operates and monitors Aquaponics system functions such at pumps, fans, vents, temperature, humidity, and more." />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Aquaponics Dashboard">
<meta itemprop="description" content="Aquaponics system monitor that operates and monitors Aquaponics system functions such at pumps, fans, vents, temperature, humidity, and more.">

<meta itemprop="image" content="@Url.Content("~/img/AquaLogoLarge.png")">

<!-- Twitter Card data -->
<meta name="twitter:card" content="Aquaponics">
<meta name="twitter:site" content="@@hargrave81">
<meta name="twitter:title" content="Aquaponics Monitor System by C. Hargrave">

<meta name="twitter:description" content="Aquaponics system monitor that operates and monitors Aquaponics system functions such at pumps, fans, vents, temperature, humidity, and more.">
<meta name="twitter:creator" content="@@hargrave81">
<meta name="twitter:image" content="@Url.Content("~/img/AquaCard.png")">

<partial name="_OpenGraph" />